In [18]:
from scipy.sparse import coo_matrix
from scipy.sparse import save_npz, load_npz
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import spectral_clustering
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
import pickle

<br>Import matrices: *mx_upper* as upper triangle matrix, *mx* as symmetirc matrix.

In [2]:
mx_upper = load_npz('C:\\FOLDERS\\CEU\\Capstone Project\\Data\\sparse_matrix_upper_triangle.npz')

In [4]:
mx = load_npz('C:\\FOLDERS\\CEU\\Capstone Project\\Data\\sparse_matrix.npz')

In [19]:
mx_array = mx.toarray()

In [5]:
from scipy.spatial.distance import squareform
mx_s = squareform(mx)

In [ ]:
g = open("page_categories.pkl", "rb")
temp = pickle.load(g)
g.close()

In [ ]:
categories = []

for key in temp:
    categories.append(temp[key])

<br>
### Scipy Hierarchy Clustering

Getting upper triangular values.

In [21]:
l = [] # list for upper triangular (ex-diagonal) values

for i in range(0, 8743):
    for j in range(i + 1, 8743):
        l.append(mx_array[i,j])

In [22]:
Z = linkage(l, method="ward")

In [23]:
k=8
scipy_hier_labels = fcluster(Z, k, criterion='maxclust')

In [25]:
page_labels = pd.DataFrame(scipy_hier_labels, columns=["labels"])
cat = pd.Series(categories)
page_labels['category'] = cat.values

In [26]:
page_labels.head()

   labels  category
0       5         6
1       5         6
2       6         6
3       5         7
4       6         6

In [27]:
ct = pd.crosstab(page_labels["labels"], page_labels["category"])
ct

category     1    2    3   4    5     6     7    8
labels
1            0    0    0   0    0     1     1    1
2            0    0    0   0    0     0     1    1
3            1    0    0   0    0     0     2    0
4            1    0    0   0    0     0     1    0
5          377   73  143  41  135   551   660  232
6         1186  238  436  84  375  1629  1919  652
7            1    0    0   0    0     0     0    0
8            0    0    0   0    0     0     1    0